#btn-1
{
background-color:#f0c14b;
outline:none;
border:none;
border:2px solid white;
cursor: pointer;
font-size: large;
font-weight: 700;
}

#btn-1:hover
{

    border:2px solid black;

}
#btn-2
{
padding:1% 8%;
background-color:#f0c14b;
outline:none;
border:none;
border:2px solid white;
cursor: pointer;
font-size: large;
font-weight: 700;
}
#btn-2:hover
{

    border:2px solid black;

}